* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
header {
  background: #376eb3;
}
p {
  line-height: 1.2;
}

body {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka,
    "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
header p {
  padding-top: 10px;
  color: white;
  font-size: 12px;
}
.container {
  width: 68%;
  margin: auto;
  overflow: hidden;
}
.body-1 {
  background-color: #e6eef3;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background: #376eb3;
  flex-wrap: wrap;
}

.header-top img {
  padding-top: 1rem;
}
/* showcase */
#showcase {
  background: url("../img/mv_bg.jpg") no-repeat center center/cover;
  height: 65vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#showcase img {
  width: 65%;
  height: auto;
}

/* box */
.boxes {
  display: grid;
  grid-template-columns: repeat(3, 19rem);
  grid-gap: 1rem;
  padding: 1rem 0;
  margin: auto;
}
.box {
  height: 15rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #376eb3;
  background-color: #fff;
  min-width: 19rem;
}
.box .icon {
  padding: 1.8rem 0;
}

.box p {
  padding: 1.1rem 1.1rem 2rem;
}

.btn {
  color: #376eb3;
  text-align: center;
  border: #376eb3 2px solid;
  padding: 0.5rem 1rem;
}
.btn-dark {
  color: white;
  background-color: #376eb3;
  padding: 5px 15px;
  font-size: 0.7rem;
  margin: 10px 0;
}

.infor {
  background-color: #fff;
}
.infor .container {
  display: flex;
  padding: 2.5rem 0;
}
.infor .container .news-1 {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.infor .container .news-2 {
  flex: 1;
}

.infor .container h1 {
  font-size: 1.2rem;
  padding-bottom: 0.8rem;
  border-bottom: #376eb3 2px dotted;
  align-self: stretch;
}

.infor .container h2 {
  font-size: 1rem;
  padding: 1rem 0rem;
}
.infor .container p {
  font-size: 0.9rem;
  line-height: 1.5;
}
.news-2 > div {
  display: flex;
  margin: 2rem 0;
  flex-wrap: wrap;
}

.infor .border {
  align-self: stretch;
  border-bottom: rgb(99, 99, 99) 2px solid;
}

.infor .container .news-1 a:last-child {
  align-self: flex-end;
}
.infor .map img {
  max-width: 100%;
  height: auto;
  padding: 0.8rem 0;
}
.infor .map {
  display: flex;
  flex-direction: column;

  align-items: flex-end;
}
.infor .container .news {
  margin-right: 8rem;
}

.infor {
  border-bottom: #376eb3 2px solid;
}

/* footer */
.footer-column {
  display: flex;
}

.footer-column2 {
  display: flex;
  flex-direction: column;
}

.footer-column > * {
  padding: 1.2rem;
}
.footer-column h1 {
  font-size: 1rem;
  padding-bottom: 0.5rem;
}
.footer-column h4 {
  font-size: 0.9rem;
}

.footer-column p,
.footer-column a {
  font-size: 0.7rem;
  line-height: 1.8;
}
